.textMessage {
  display: flex;
  flex-wrap: wrap;   
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color);
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .textMessage {
  display: flex;
  flex-wrap: wrap;   
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color);
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .textMessage {
  display: flex;
  flex-wrap: wrap;   
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color);
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* CSS khusus tablet */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* CSS untuk laptop/desktop kecil */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS untuk desktop besar */
}
